# Frontend team 
/frontend/ @subhasreelk
/frontend/**/* @subhasreelk

# Backend team  
/backend/ @varshinii15 @ruhan-2908
/backend/**/* @varshinii15 @ruhan-2908

# all root configuration files
/.github/ @ruhan-2908
.gitignore @ruhan-2908
LICENSE @ruhan-2908
README.md @ruhan-2908
