# Backend team
/backend/ @ruhan-2908

# Frontend team
/frontend/ @subhasreelk 

# Database team
/database/ @varshinii15

# Incharge for files at outer circle
/.github/ @ruhan-2908
LICENSE @ruhan-2908
README.md @ruhan-2908
.gitignore @ruhan-2908
