# ========================
# FRONTEND TEAM OWNERSHIP
# ========================
/frontend @subhasreelk
/frontend/** @subhasreelk


# ========================
# BACKEND TEAM OWNERSHIP
# ========================
/backend @varshinii15 @ruhan-2908
/backend/** @varshinii15 @ruhan-2908 

# =============================
# ROOT-LEVEL CONFIG OWNERSHIP
# =============================
/.github/ @ruhan-2908
.gitignore @ruhan-2908
LICENSE @ruhan-2908
README.md @ruhan-2908
CODEOWNERS @ruhan-2908